[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
unittest2 = ">=1.1"
responses = ">=0.18"
mock = ">=2.0"

[packages]
requests = "==2.27"
dwollav2 = {editable = true,path = "."}

[requires]
python_version = "3.7"
