[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
unittest2 = "*"
responses = "*"
mock = "*"

[packages]
requests = "2.27"
dwollav2 = {editable = true,path = "."}

[requires]
python_version = "3.7"
